version: "3"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-net

  backend:
    image: yaseen778/dd-backend:latest
    container_name: mean-backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - mean-net

  frontend:
    image: yaseen778/dd-frontend:latest
    container_name: mean-frontend
    restart: always
    ports:
      - "4200:4200"
    depends_on:
      - backend
    networks:
      - mean-net

  nginx:
    image: nginx:latest
    container_name: mean-nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - mean-net

networks:
  mean-net:

volumes:
  mongo_data:
