version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: <dockerhub_username>/dd-backend:latest
    container_name: mean-backend
    restart: always
    environment:
      - MONGO_URL=mongodb://mongo:27017/tutorialsdb
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  frontend:
    image: yaseen778/dd-frontend:latest
    container_name: mean-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"

volumes:
  mongo_data:
